<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/Logo.png" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>
                <br>
                <form>
                  <div class="mb-3">
                    <h2><b>비밀번호 찾기 </b></h2>
                    <p class="fs-4 mb-0 fw-bold">이메일을 입력하고 비밀번호를 재설정하세요.</p>
                    <br>
                    <div class="mb-3">
                      <label for="exampleInputId1" class="form-label">아이디</label>
                      <input type="text" placeholder="아이디" class="form-control" id="Inputid" aria-describedby="textHelp">
                    </div>
                    <label for="exampleInputEmail1" class="form-label">이메일</label>
                    <input type="email" placeholder="이메일" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                    <button type="submit" class="btn btn-primary w-15 py-2 fs-3 mb-4 rounded-2">전송</button>                    
                  </div>
                  <div>
                    <label for="exampleInputCode" class="form-label">인증번호</label>
                    <input type="text" placeholder="인증번호 입력" class="form-control" id="InputCode" aria-describedby="codeHelp">
                    <button type="submit" class="btn btn-primary w-15 py-2 fs-3 mb-4 rounded-2">입력</button>
                  </div>
                  <br>                                  
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="text-primary fw-bold ms-2" href="./authentication-login.html">로그인</a>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>